<div class='container'>

  <form role='form' ng-submit='addTodo()'>
    <div class='row'>
      <div class='input-group'>
        <input type='text' ng-model='todo' placeholder='What needs to be done?' class='form-control'>
        <span class='input-group-btn'>
          <input type='submit' class='btn btn-primary' value='Add'>
        </span>
      </div>
    </div>
  </form>

    <p class='input-group' ng-repeat='todo in todos'>
      <span type='text' ng-model='todo' class='todos'>{{ todo }}</span>
      <button class='btn btn-danger' ng-click='removeTodo($index)'>X</button>
    </p>

</div>
